
<template name="home">
    <div id="page_home" class="page-background">
        <h1>Mobi-Router Demo Site</h1>

        <br/>
        <b>first parameter's value: </b>{{first}}
        <br/>
        <b>"fffsss" value: </b>{{fffsss}}
        <br/>
        <b>session test: </b>{{sessionTest}}
        <br/>

        <br/>
        <input id="go_greeting" type="button" value="Go to Wellcome page"/>
        <br/>

        <h2>Lorem ipsum dolor sit amet...</h2>

        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas blandit pulvinar magna, ut tincidunt diam egestas id.
        Phasellus vulputate volutpat dolor, ac tincidunt erat pharetra sed. Vivamus vitae rutrum quam. Pellentesque laoreet ut
        ante eu dictum. Pellentesque convallis eros ut adipiscing tempor. Aenean nulla ligula, lobortis ut nisi sit amet, luctus
        consectetur libero. Maecenas convallis elit nec sodales faucibus. Mauris aliquet pretium iaculis. Pellentesque nisi
        lectus, aliquam quis semper a, dapibus et arcu. Aliquam vehicula vestibulum massa, imperdiet feugiat justo tincidunt ac.
        Nulla tempor id nulla eget sollicitudin. Integer varius, lectus ut gravida suscipit, enim felis convallis orci, at semper
        velit tellus a orci.</p>

        <p>Vestibulum non est metus. Aliquam imperdiet lobortis dolor, non imperdiet nulla venenatis non. Sed dignissim dui id libero
        consectetur, vel ultrices metus sollicitudin. Duis viverra auctor nunc, sit amet scelerisque felis accumsan eu. Sed sed
        nulla eros. Phasellus consectetur tortor ut erat fermentum, vitae eleifend velit euismod. Aliquam nec purus elit.</p>

        <p>Praesent aliquet magna sit amet neque faucibus, quis ultrices velit adipiscing. Duis id enim rhoncus, pellentesque leo sed,
        porttitor erat. Suspendisse venenatis sapien mi, non pellentesque nisl bibendum ornare. Cras tempus risus lectus, dictum
        porta metus gravida nec. Maecenas vel urna eros. Pellentesque pharetra tempor aliquet. Aliquam massa purus, commodo ac felis
        in, tincidunt consequat erat. Maecenas et feugiat felis. Integer porta tincidunt lorem, ac adipiscing dolor fermentum nec.
        Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec convallis, diam adipiscing luctus
        commodo, orci purus scelerisque mauris, sit amet fermentum nibh magna sed ipsum. Aliquam interdum tellus at ante varius, a
        fringilla arcu ullamcorper. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer at enim ut eros faucibus auctor
        non semper nunc. Vivamus dapibus varius enim, a scelerisque arcu sagittis at. Etiam accumsan molestie aliquam.</p>

        <p>Aenean sit amet sem iaculis, dignissim sapien at, sagittis lectus. In faucibus justo ac velit viverra ullamcorper. Aliquam
        pharetra neque at tellus blandit, sed interdum mi pellentesque. Donec venenatis rhoncus enim, a rutrum ipsum tincidunt tempor.
        Vestibulum laoreet ante erat, sit amet hendrerit metus rutrum ut. Nunc tincidunt nulla non augue aliquam dapibus. Pellentesque
        interdum scelerisque eros, at consectetur ligula ultrices ut. Phasellus vel gravida purus. Sed sapien elit, pellentesque at risus
        eget, porta laoreet metus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse posuere, libero pretium gravida varius,
        sem justo pulvinar tortor, eget placerat sem libero ut tortor. Mauris congue commodo nunc, in auctor enim. Proin id purus vitae nulla
        viverra sagittis a et sem.</p>

        <p>Maecenas fermentum vel metus ut pharetra. Praesent dapibus odio sit amet sagittis gravida. Morbi ut mi at eros consectetur euismod.
        Quisque vitae sagittis lectus. Morbi a sapien lorem. Nullam ac vehicula urna. Aenean ut tristique ante, eget pretium est. Sed justo
        metus, consequat eget odio non, congue molestie libero. Nunc pharetra erat id mauris auctor, nec molestie nisl dictum. Sed dictum
        ornare orci nec blandit. Maecenas mollis vel lectus non aliquam. Phasellus porttitor gravida magna, quis sollicitudin lorem vulputate
        eu. Donec eget pulvinar nisi. Duis lobortis eu nisi id consectetur. Etiam in pulvinar tellus.</p>
    </div>
</template>
