
<template name="page_home">
    <div id="page_home" class="scrollable mobi_page">
        <div>
            <h1>Home</h1>

            <img src="/blue-test-image.jpg" style="width: 80%; margin: 10px auto; display:block;"/>

            <br/>
            {{first}}
            <br/>
            {{second}}

            <img src="/blue-test-image.jpg" style="width: 80%; margin: 10px auto; display:block;"/>

            <br/>
            {{first}}
            <br/>
            {{second}}
        </div>
    </div>
</template>
