<head>
    <title>Mobi-Router Demo Site</title>

    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="viewport" content="user-scalable=no, width=device-width, height=device-height, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0" />
</head>

<body>
    <div id="test_breadcrums">
        <h3 style="margin: 0 0 5px 0; padding: 2px; text-align: center; background: white; "><small> These breadcrumbs are made for testing the Mobi-Router package </small></h3>
        {{>test_breadcrumbs}}
    </div>
    <div id="page">
        <div id="ipad_cam"></div>
        {{>mobi_router}}
        <div id="ipad_button"><i class="fa fa-square-o fa-2x"></i></div>
    </div>
</body>