
<template name="sidebar">
    <!--<div id="sidebar_search">
        <input type="text" name="search" /> <i class="fa fa-search"></i>
    </div>-->
    <div id="sidebar_menu" >
        <ul class="menu">
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
            <li class="menu_item menu_home"> <i class="fa fa-home"></i> Home </li>
            <li class="menu_item menu_greeting"> <i class="fa fa-bell"></i> Welcome </li>
            <li class="menu_item menu_posts"> <i class="fa fa-file-text-o"></i> Posts </li>
            <li class="menu_item menu_about"> <i class="fa fa-comment"></i> About </li>
        </ul>
    </div>
</template>
