<template name="user_info">
    <div id="user_info" class="page-background">

        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <label for="SignUp_email">Email Address:</label>
                <input id="SignUp_email" type="email" name="SignUp_email" />
            </div>

            <div class="col-md-offset-1 col-md-10">
                <label for="SignUp_pwd">Password:</label>
                <input id="SignUp_pwd" type="password" name="SignUp_pwd" />
            </div>

            <div class="col-md-offset-1 col-md-10">
                <label for="SignUp_conf_pwd">Confirm Password:</label>
                <input id="SignUp_conf_pwd" type="password" name="SignUp_conf_pwd" />
            </div>
        </div>

    </div>
</template>