/* CSS declarations go here */

body {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    background: #555555;
}

#page {
    position: relative;
    width: 1000px;
    height: 676px;
    padding: 33px 95px;
    background: white;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    margin: 40px auto;
    border: 4px outset silver;
    box-shadow: 5px 5px 20px 0px black, 0px 0px 1px -1px rgba(0,0,0,0.8) inset, 0px 0px 8px 0px rgba(0,0,0,0.3) inset;
    -moz-box-shadow: 5px 5px 20px 0px black, 0px 0px 1px -1px rgba(0,0,0,0.8) inset, 0px 0px 8px 0px rgba(0,0,0,0.3) inset;
    -webkit-box-shadow: 5px 5px 20px 0px black, 0px 0px 1px -1px rgba(0,0,0,0.8) inset, 0px 0px 8px 0px rgba(0,0,0,0.3) inset;
}

#mobi_router_background {
    border: 1px inset silver;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    overflow: hidden;
}

#ipad_cam {
    position: absolute;
    top: 327px;
    left: 46px;
    width: 12px;
    height: 12px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border: 1px solid DimGrey;
    background: black;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.7) inset;
    -moz-box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.7) inset;
    box-shadow: 0px 0px 5px 0px rgba(255,255,255,0.7) inset;
}

#ipad_button {
    position: absolute;
    color: rgb(170, 170, 170);
    text-align: center;
    line-height: 59px;
    top: 310px;
    right: 22px;
    width: 50px;
    height: 50px;
    border: 1px solid LightGrey;
    -webkit-border-radius: 26px;
    -moz-border-radius: 26px;
    border-radius: 26px;
    -webkit-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.05) inset;
    -moz-box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.05) inset;
    box-shadow: 5px 5px 10px 5px rgba(0,0,0,0.05) inset;
}


#sidebar_search {
    background: rgba(0,0,0,0.1);
    position: relative;
    padding: 10px 40px 10px 10px;
    border-bottom: 1px solid grey;
}

#sidebar_search i.fa {
    position: absolute;
    top: 15px;
    right: 10px;
    color: white;
    cursor: pointer;
}
#sidebar_search input {
    width: 100%;
    border: 1px solid lightgrey;
    padding: 2px;
    border-radius: 4px;
    background: #888888;
    color: white;
}

#mobi_sidebar_logo {
    padding: 15px 0;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: rgb(170, 170, 170);
    text-shadow: 0px 0px 25px rgba(255,255,255,0.4), -1px -1px 1px #333, -1px 0px 1px #333, 0px -1px 1px #333, 1px 1px 1px #b0b0b0;
    border-bottom: 1px solid gray;
}

#sidebar_menu {
    background: #606060; /* Old browsers */
    background: -moz-linear-gradient(top,  #606060 0%, #555555 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#606060), color-stop(100%,#555555)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #606060 0%,#555555 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #606060 0%,#555555 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #606060 0%,#555555 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #606060 0%,#555555 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606060', endColorstr='#555555',GradientType=0 ); /* IE6-9 */
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.6);
}

.page-background {
    padding: 10px;
}

ul.menu {
    color: white;
    font-size: 16px;
    margin: 0;
    padding: 0;
    list-style: none;
    list-style-image: none;
}

ul.menu > li:first-child {
    border-top: 1px solid grey;
}

ul.menu > li {
    position: relative;
    padding: 15px;
    border-bottom: 1px solid grey;
    cursor: pointer;
}

li.menu_item.active_sidebar_item {
    color: deepskyblue;
    /*background: rgba(255,255,255,0.05);*/
    text-shadow: 0px 0px 14px deepskyblue;
}

li.menu_item > .page_tab {
    background-color: transparent;
    /*background-image: url('/sidebar_page_tab.png');
    background-position: right top;
    background-size: contain;*/
    text-align: right;
    display: none;
    position: absolute;
    width: 30px;
    height: 30px;
    line-height: 30px;
    right: -1px;
    top: 10px;
    z-index: 11;
}

li.menu_item.active_sidebar_item > .page_tab{
    display: block;
}

ul.menu > li > a {
    display: block;
    width: 100%;
    height: 100%;
}
ul.menu > li > i.fa {
    width: 20px;
}

#mobi_main {
    background: #F0F0F0; /* Old browsers */
    background: -moz-linear-gradient(top,  #C7C7C7 0%, #FFFFFF 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C7C7C7), color-stop(100%,#FFFFFF)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #C7C7C7 0%,#FFFFFF 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #C7C7C7 0%,#FFFFFF 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #C7C7C7 0%,#FFFFFF 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #C7C7C7 0%,#FFFFFF 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#C7C7C7', endColorstr='#FFFFFF',GradientType=0 ); /* IE6-9 */
}

/*
.mobi_page > .scroller {
    background: rgba(0,0,0,0.2);
}*/
